.page-heading {
  line-height: 1;
  font-size: 3.75rem;
  margin-bottom: 2em;
  font-family: Playfair Display, serif;
  font-weight: 500;
  background-image: linear-gradient(135deg, hsl(0deg 0% 100%), hsl(35 80% 55%));
  background-clip: text;
  color: transparent;
}
:host-context([data-theme="light"]) .page-heading {
  background-image: linear-gradient(135deg, hsl(20 8% 20%), hsl(35 80% 55%));
}

.text-gradient {
  /* background-image: var(--gradient-gold); */
  color: transparent;
  background-clip: text;
}

.skills-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2em;
}

.skill-column{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: hsl(var(--background) 20 14% 8%)/0.6;
  padding: 2em;
  border-radius: 1em;
  gap: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: hsl(var(--card));
}

.skill-column h3 {
  position: relative;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
}

.skill-column h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;          /* line length */
  height: 2px;
  background: goldenrod;
  border-radius: 2px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}


.skill-column:hover h3::after {
  transform: scaleX(1);
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
    gap: 0.75rem;
    width: 92%;
  }
}

:host-context([data-theme="light"]) .skill-column{
  background-color: whitesmoke;
}