.page-heading {
  line-height: 1;
  font-size: 3.75rem;
  margin-bottom: 2em;
  font-family: Playfair Display, serif;
  font-weight: 500;
  background-image: linear-gradient(135deg, hsl(0deg 0% 100%), hsl(35 80% 55%));
  background-clip: text;
  color: transparent;
}
:host-context([data-theme="light"]) .page-heading {
  background-image: linear-gradient(135deg, hsl(20 8% 20%), hsl(35 80% 55%));
}

.text-gradient {
  /* background-image: var(--gradient-gold); */
  color: transparent;
  background-clip: text;
}

.skills-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2em;
}

.skill-column{
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: hsl(var(--background) 20 14% 8%)/0.6;
  padding: 2em;
  border-radius: 1em;
  gap: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: hsl(var(--card));
}

.skill-column h3 {
  position: relative;
  margin-bottom: 1.2rem;
  padding-bottom: 0.5rem;
}

.skill-column h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;          /* line length */
  height: 2px;
  background: goldenrod;
  border-radius: 2px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}


.skill-column:hover h3::after {
  transform: scaleX(1);
}

.skill-rating-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.skill-logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo-svg{
  width: 1.5rem;
  height: 1.5rem;
}

.logo-svg.background{
  filter: brightness(0) invert(1)
}

/* .background{
  display: flex;
  justify-content: center;
  align-items: center;
  width:1.5rem;
  height:1.5rem;
  background-color: white;
  border-radius: 9999px;
} */

.progress{
  display: inline-flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  border-radius: 8px;
}

.progress-bar{
  /* padding-left: 1rem; */
  height: 0.5rem;
  width: 100%;
  border-radius: 9999px;
  background-color: gray;
}

.progress-fill{
  height: 100%;
  background: linear-gradient(135deg, hsl(47.02deg 100% 50%), hsl(14deg 100% 50%));
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: 1fr;
    gap: 0.5em;
    width: 100%;
  }
}

:host-context([data-theme="light"]) .skill-column{
  background-color: whitesmoke;
}

:host-context([data-theme="light"]) .logo-svg.background{
  filter: none;
}