<app-section-wrapper pageId="skills" [classes]="'skills-section'">
  <app-heading classNames="linear-gradient-white page-heading">
    <ng-template>
      Skills
    </ng-template>
  </app-heading>
  <div>
    <h2>Technical Skills</h2>
  </div>
  <div class="skills-grid">
    @for (skillCategory of data | keyvalue; track $index) {
      <div class="skill-column">
        <h3>{{skillCategory.key}}</h3>
        @for (skillDetails of skillCategory.value; track $index) {
          <app-skill [skill]="skillDetails"></app-skill>
        }
      </div>
      }
    </div>
</app-section-wrapper>
