.heading{
  display: block;
  font-family: Playfair Display, serif;
  font-weight: 500;
}

.page-heading {
  margin-bottom: 2em;
  opacity: 0;
}

.with-sub-heading-top{
  margin-top: 0;
}

.with-sub-heading-bottom{
  margin-bottom: 4rem;
}

.sub-heading{
  font-weight: 500;              /* font-medium */
  letter-spacing: 0.1em;         /* tracking-widest */
  text-transform: uppercase;     /* uppercase */
  font-size: 0.875rem;           /* text-sm (14px) */
  margin-bottom: 1rem;           /* mb-4 */
}

.linear-gradient-white{
  background-image: linear-gradient(135deg, hsl(0deg 0% 100%), hsl(35 80% 55%));
  background-clip: text;
  color: transparent;
}

.linear-gradient-red{
  /* background-image: linear-gradient(135deg, hsl(16.99deg 100% 59.94%), hsl(46.15deg 100% 50.29%)); */
  background-image: linear-gradient(91deg, hsl(16.99deg 100% 59.94%), hsl(62deg 100% 50.29%));
  background-clip: text;
  color: transparent;
}

.person-name{
  margin: 0;
  margin-bottom: 0.2rem;
}

.text-primary{
  color: hsl(var(--primary));
}

:host-context([data-theme="light"]) .linear-gradient-white {
  background-image: linear-gradient(135deg, hsl(20 8% 20%), hsl(35 80% 55%));
}
