.contact{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 4rem;
  width: 60%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.icon-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: hsl(var(--primary)/0.1);
}

.email-card{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-form form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group{
  display: block;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
  line-height: 1.25rem;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.form-group input,textarea{
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  border-color: hsl(var(--border));
  border-width: 1px;
  background-color: hsl(var(--secondary) / 0.5);
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #d4af37;
}


button {
  padding: 1rem;
  background: hsl(var(--primary));
  color: #000;
  border: none;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #ffa700;;
  font-weight: 500;
}

.line{
  padding-top: 2rem;
  border-color: hsl(var(--border));
  border: 0;
  border-top-width: 1px;
  border-style: solid;
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.links{
  display: flex;
}

@media (max-width: 768px) {
 .contact{
  grid-template-columns: repeat(1,1fr);
  width: 95%;
 }
}

