.contact{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 4rem;
  width: 70%;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.header{
  opacity: 0;
}

.animate-side-left{
  animation: slide-left 0.9s ease-out 0s 1 normal forwards running;
  opacity: 1;
}

.animate-side-right{
  animation: slide-right 0.9s ease-out 0s 1 normal forwards running;
  opacity: 1;
}

@keyframes slide-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-form{
  opacity: 0;
}

.line{
  padding-top: 2rem;
  border-color: hsl(var(--border));
  border: 0;
  border-top-width: 1px;
  border-style: solid;
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.links{
  display: flex;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .contact{
    width: 85%;
  }
}
@media (max-width: 768px) {
 .contact{
  grid-template-columns: repeat(1,1fr);
  width: 95%;
 }
}
