.card{
  position: relative;
  background-color: hsl(var(--card));
  border-color: var(--border);
  border-radius: 16px;
  padding: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
  pointer-events: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.work-exp-card{
  background-color: hsl(var(--card)); /* card */
  border: 1px solid hsl(0deg 0% 24.41%);; /* border */
  border-radius: 1rem;
  padding: 1.5rem;
  margin-left: 0.5rem;
  transition: border-color 0.3s;
  max-width: 69rem;
}

.achievement-card{
  position: relative;
  width: 30rem;
  height: max-content;
  overflow: hidden;
}

.achievement-card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: goldenrod;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  animation: progressBar 10s linear infinite;
}

@keyframes progressBar {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.project-card::before{
  opacity: 0;
}

.project-card {
  border: solid 1px hsl(0deg 0% 20%);
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 40rem;
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  padding: 0;
  /* animation: fadeUp 0.6s ease-out; */
}

.hidden{
  opacity: 0;
  transition: opacity 0.0s ease-in-out
}

.project-card.visible {
  /* animation: fadeUp 0.6s ease-out; */
  transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 768px) {
 .achievement-card{
  width: 100%;
 }
}

@media (max-width: 600px) {
  .project-card {
    max-width: 100%;
  }
}

:host-context([data-theme="light"]) .card{
  background: whitesmoke;
  border: none;
}
