.progress{
  display: inline-flex;
  align-items: center;
  height: 2rem;
  width: 100%;
  border-radius: 8px;
}

.progress-bar{
  /* padding-left: 1rem; */
  height: 0.5rem;
  width: 100%;
  border-radius: 9999px;
  background-color: gray;
}

.progress-fill{
  height: 100%;
  background: linear-gradient(135deg, hsl(47.02deg 100% 50%), hsl(14deg 100% 50%));
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
