.project-image-div {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #000;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

.project-links-hover{
  position: absolute;
  display: flex;
  gap: 0.7rem;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0;
}

.project-links-hover.hovered {
  opacity: 1;
  transition: opacity 300ms ease;
}

.hover-link{
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  padding: 0.38rem;
}

.hover-link.live-link{
  background: goldenrod;
}

.hover-link.github-link{
  background: black;
}

.project-details {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  height: 60%;
}

.project-title{
  margin: 0;
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.project-description{
  overflow: auto;
  text-overflow: ellipsis;
}

/* Custom scrollbar styling */
.project-description::-webkit-scrollbar {
  width: 5px;
  background-color: #000;
}

.project-description::-webkit-scrollbar-track {
  background: rgba(255, 113, 113, 0.1);
  border-radius: 4px;
}

.project-description::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, hsl(43deg 100% 50%), hsl(37.8deg 100% 79.12%));
  border-radius: 4px;
}

.project-description::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, hsl(35 80% 55%), hsl(43 74% 49%));
}

.project-links-div {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1em;
  text-decoration: none;
  height: 2.25rem;
  width: 100%;
}

.project-link {
  display: inline-flex;
  background: linear-gradient(145deg, hsl(43 74% 49%), hsl(43.79deg 100% 15.35%));
  font-weight: 600;
  margin: 0;
  justify-content: center;
  align-items: center;
  line-height: 1;
  box-sizing: border-box;
  height: 100%;
  border-radius: 8px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.project-link-live{
  min-width: 25%;
  flex: 1 1 auto;
}

.project-link-github{
  flex: 0 0 auto;
  background: black;
  border: solid 1px hsl(0deg 0% 20%);
}

.project-link svg {
  flex-shrink: 0;
}

:host-context([data-theme="light"]) .project-link-live{
  background: linear-gradient(145deg, hsl(43 74% 49%), hsl(43.79deg 100% 47.97%));
}

:host-context([data-theme="light"]) .project-link-github{
  background: transparent;
}

:host-context([data-theme="light"]) .hover-link.github-link {
  background-color: whitesmoke;
}

:host-context([data-theme="light"]) .project-image-div {
  background: whitesmoke;
}
