.timeline {
  position: relative;
  padding: 2rem 0;
  margin: auto;
  max-width: 80%;
}

/* Vertical line */
.timeline-line {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  /* background-color: #ccc; */
  transform: translateX(-50%);
  background-color: hsl(var(--border));
}

.card:hover {
  border-color: hsl(var(--primary)/0.3); /* hover primary */
}

/* Description */
.card p {
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .timeline{
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .card{
    width: 100%;
  }
  .timeline{
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 95%;
    margin-left: 0;
    margin-right: 0;
  }
  .timeline-line {
    left: 1rem;
  }
}

:host-context([data-theme="light"]) .card{
  background-color: whitesmoke;
}