.filter{
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  align-items: center;
  justify-self: center;
  opacity: 0;
  max-width: 80%;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-filter {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.5em;
  stroke: hsl(43 74% 49%);
}

.filter-text {
  font-family: Inter, sans-serif;
  font-weight:500;
  font-size: 1.2rem;
}

.filter-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin-left: 2em;
}

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 0.5em 1em;
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
  color: inherit;
  border: hsl(30 10% 55%) 1px solid;
  /* background-image: linear-gradient(to right, #4f46e5, #2563eb); */
}

.filter-button:hover:not(.selected) {
  border: 1px solid #B8860B;
  color: #B8860B;
}

.filter-button:hover.selected {
  border: 1px solid #b68c23;
  background: linear-gradient(135deg, hsl(0deg 0.11% 37.46%), hsl(28.49deg 100% 50%));;
}

.filter-button.selected {
  background: linear-gradient(135deg, hsl(0deg 0% 30.71%), hsl(35deg 100% 50%));
  transition: background-image 0.25s ease;
}

.animate {
  animation: slideUp 0.9s ease-out 0s 1 normal forwards running;
  opacity: 1;
}

@media (max-width: 1024px) {
  .filter {
    flex-direction: column;
  }
  .label {
    margin-bottom: 1em;
  }
}

@media (max-width: 600px) {
  .filter {
    flex-direction: column;
    font-size: 0.75em;
    align-items: self-start;
  }
  .filter-text {
    font-size: 1rem;
  }
  .filter-button {
    font-size: 0.75rem;
    height: 2rem;
  }
  .icon-filter {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5em;
    stroke: hsl(43 74% 49%);
  }
}
