.navbar {
  position: fixed;
  background-color: transparent;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  justify-content: center;
  z-index: 50;
  gap: 3rem;
  left: 2%;
}

.navbar a{
  position: relative;
  text-decoration: none;
}

.theme-toggle-button {
  border-radius: 100%;
}

a.active{
  /* box-shadow: var(--shadow-glow-2); */
  transform: scale(1.08);
  background-image: var(--gradient-gold);
  color: transparent;
  background-clip: text;
}

a.active::after{
}

a.active::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  height: 22px;
  width: 100%;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
