<app-heading tagName="h2" classNames="sub-heading">
  <ng-template>
    <span class="text-gradient">Get in touch</span>
  </ng-template>
</app-heading>
<app-heading tagName="h1" classNames="with-sub-heading-top with-sub-heading-bottom">
  <ng-template>
    Let's Build Something
    <span class="text-gradient">Great Together</span>
  </ng-template>
</app-heading>
<p class="details">Have a project in mind or looking to hire? I'm always open to discussing new opportunities, interesting projects, or just connecting with fellow developers.</p>
<div class="email-card">
  <div class="icon-circle">GW</div>
  <div class="info">
    <div class="">Email</div>
    <div class="">{{email}}</div>
  </div>
</div>