.page-background {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  --tw-gradient-to: hsl(var(--secondary) / 0.2) var(--tw-gradient-to-position)
  --tw-gradient-from: hsl(var(--background)) var(--tw-gradient-from-position);

  --tw-gradient-stops: var(--tw-gradient-from), hsl(var(--background)
20 14% 4%
) var(--tw-gradient-via-position), var(--tw-gradient-to);
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-circle {
  position: absolute;
  width: 24rem;
  height: 24rem;
  border-radius: 9999px;
  background-color: hsl(var(--primary) / 0.09);
  pointer-events: none;
  animation: fade 2s infinite ease-in-out;
}

.top-circle {
  top: 25%;
  right: 25%;
  animation-delay: 1s;
}
.bottom-circle {
  bottom: 25%;
  left: 25%;
  animation-delay: 0s;
}

@keyframes fade {
  0% {
    /* opacity: 0; */
    filter: blur(64px);
  }
  50% {
    /* opacity: 0; */
    filter: blur(50px);
  }
  100% {
    /* opacity: 0; */
    filter: blur(64px);
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 2rem;
  animation: bounce 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  color: hsl(30 10% 55%);
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.8, 0, 1, 1);
  }
  50% {
    transform: translateY(50%);
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
  }
  100% {
    transform: translateY(0);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.arrow{
  width: 2rem;
  height: 2rem;
}

@media (max-width: 600px) {
  .intro-buttons {
    justify-self: center;
    flex-direction: column;
    font-size: 0.75rem;
  }
  .intro-description{
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  .intro-image img{
    width: 7em;
    height: 7em;
    border-radius: 100%;
    z-index: 2;
  }
  .img-circle {
    width: 7.5em;
    height: 7.5em;
  }
  .img-background {
    width: 9em;
    height: 9em;
    filter: blur(25px);
  }
  .bg-circle {
    width: 10rem;
    height: 10rem;
  }
  .top-circle {
    top: auto;
    right: auto;
    animation-delay: 1s;
  }
  .bottom-circle {
    bottom: auto;
    left: auto;
    animation-delay: 0s;
  }
  .bottom-circle {
    bottom: 10%;
    left: 10%;
  }
  .btn-intro {
    height: 4em;
    width: 12em;
    margin: 0 0.25em;
  }
  .status-message{
    font-size: 0.75em;
  }
  .intro-title{
    font-size: 1rem;
    text-wrap: wrap;
    max-width: 80%;
  }
}

/* Keyframes */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
