.tags-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  text-transform: capitalize;
}

.tag{
  font-size: 0.75rem;
  background-color: hsl(var(--primary) / 0.1);
  color: hsl(var(--primary));
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
}

.large{
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  border-color:hsl(var(--primary));
  color: hsl(var(--primary));
}
