.card{
  position: relative;
  background-color: hsl(var(--card));
  border-color: var(--border);
  border-radius: 16px;
  padding: 1.5rem;
  overflow: hidden;
  box-sizing: border-box;
}

.achievement-card{
  width: 30rem;
  height: max-content;
}

.project-card::before{
  opacity: 0;
}

.project-card {
  border: solid 1px hsl(0deg 0% 20%);
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 30rem;
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  padding: 0;
  /* animation: fadeUp 0.6s ease-out; */
}

.project-card.visible {
  /* animation: fadeUp 0.6s ease-out; */
  transform: translateY(0px);
  opacity: 1;
}

@media (max-width: 768px) {
 .achievement-card{
  width: 100%;
 }
}
