form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group{
  display: block;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
  line-height: 1.25rem;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.form-group input,textarea{
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  border-color: hsl(var(--border));
  border-width: 1px;
  background-color: hsl(var(--secondary) / 0.5);
  resize: none;
  border-style: solid;
}

.form-group input:focus,
textarea:focus {
  outline: none;
  border-color: #d4af37;
}


button {
  padding: 1rem;
  background: hsl(var(--primary));
  color: #000;
  border: none;
  border-radius: var(--radius);
  font-weight: 500;
  cursor: pointer;
}

.submitted{
  background-color: rgb(159, 255, 159);
}

button:hover {
  background: #ffa700;;
  font-weight: 500;
}

:host-context([data-theme="light"]) .form-group input, :host-context([data-theme="light"]) .form-group textarea{
  color: black;
  background-color: whitesmoke;
}