
.page-heading {
  margin-bottom: 2em;
  font-family: Playfair Display, serif;
  font-weight: 500;
  opacity: 0;
}

.animate {
  animation: slideUp 0.9s ease-out 0s 1 normal forwards running;
  opacity: 1;
}

.text-gradient {
  background-image: var(--gradient-gold);
  /* background-image: var(--gradient-gold); */
  color: transparent;
  background-clip: text;
}

.filter{
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  align-items: center;
  opacity: 0;
  max-width: 80%;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-filter {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.5em;
  stroke: hsl(43 74% 49%);
}

.filter-text {
  font-family: Inter, sans-serif;
  font-weight:500;
  font-size: 1.2rem;
}

.filter-buttons-div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin-left: 2em;
}

.filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 0.5em 1em;
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: all 300ms ease;
  color: inherit;
  border: hsl(30 10% 55%) 1px solid;
  /* background-image: linear-gradient(to right, #4f46e5, #2563eb); */
}

.filter-button:hover:not(.selected) {
  border: 1px solid #B8860B;
  color: #B8860B;
}

.filter-button:hover.selected {
  border: 1px solid #b68c23;
  background: linear-gradient(135deg, hsl(0deg 0.11% 37.46%), hsl(28.49deg 100% 50%));;
}

.filter-button.selected {
  background: linear-gradient(135deg, hsl(0deg 0% 30.71%), hsl(35deg 100% 50%));
  transition: background-image 0.25s ease;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  /* max-width: min(calc(4 * 21rem + 3 * 1.5rem), 80%); */
  grid-gap: 2em;
  max-width: 80%;
}

.project-image-div {
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #000;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit:contain;
}

.project-links-hover{
  position: absolute;
  display: flex;
  gap: 0.7rem;
  right: 0.5rem;
  top: 0.5rem;
  opacity: 0;
}

.project-links-hover.hovered {
  opacity: 1;
  transition: opacity 300ms ease;
}

.hover-link{
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  padding: 0.38rem;
}

.hover-link.live-link{
  background: goldenrod;
}

.hover-link.github-link{
  background: black;
}

.project-details {
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  height: 60%;
}

.project-title{
  margin: 0;
  font-family: Playfair Display, serif;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.project-description{
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-links-div {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 1em;
  text-decoration: none;
  height: 2.25rem;
  width: 100%;
}

.project-link {
  display: inline-flex;
  background: linear-gradient(145deg, hsl(43 74% 49%), hsl(43.79deg 100% 15.35%));
  font-weight: 600;
  margin: 0;
  justify-content: center;
  align-items: center;
  line-height: 1;
  box-sizing: border-box;
  height: 100%;
  border-radius: 8px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.project-link-live{
  min-width: 25%;
  flex: 1 1 auto;
}

.project-link-github{
  flex: 0 0 auto;
  background: black;
  border: solid 1px hsl(0deg 0% 20%);
}

.project-link svg {
  flex-shrink: 0;
}

@media (max-width: 1900px) {
  .projects-container{
    grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  .page-heading {
    font-size: 3rem;
  }
  .filter {
    flex-direction: column;
  }
  .label {
    margin-bottom: 1em;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2em;
    max-width: 80%;
  }
}



@media (max-width: 600px) {
  .page-heading {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1.5em;
  }
  .filter {
    flex-direction: column;
    font-size: 0.75em;
    align-items: self-start;
  }
  .filter-text {
    font-size: 1rem;
  }
  .projects-container {
    grid-template-columns: repeat(1, minmax(10em, 1fr));
    grid-gap: 2em;
    max-width: 100%;
  }
  .filter-button {
    font-size: 0.75rem;
    height: 2rem;
  }
  .project-card {
    height: 15em;
    max-width: 10rem;
  }
  .icon-filter {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.5em;
    stroke: hsl(43 74% 49%);
  }
}

:host-context([data-theme="light"]) .project-link-live{
  background: linear-gradient(145deg, hsl(43 74% 49%), hsl(43.79deg 100% 47.97%));
}

:host-context([data-theme="light"]) .project-link-github{
  background: transparent;
}

:host-context([data-theme="light"]) .hover-link.github-link {
  background-color: whitesmoke;
}

:host-context([data-theme="light"]) .project-image-div {
  background: whitesmoke;
}

