<app-section-wrapper pageId="projects" [classes]="'projects-section'">
  <app-heading>
    <ng-template>
      Featured <span
      class="text-gradient">Projects</span>
    </ng-template>
  </app-heading>
  <div>
    <app-project-filter (filterChange)="handleFilterSelect($event)" />
  </div>
  <div class="projects-container" [ngClass]="filteredProjects().length < 3 ? 'filtered' : ''">
    @if (filteredProjects().length==0) {
      Nothing to show right now
    }
    @for (project of filteredProjects();let i = $index ;track $index) {
      <app-project-card [project]="project" [index]="i" />
    }
  </div>
</app-section-wrapper>
