
.page-heading {
  margin-bottom: 2em;
  font-family: Playfair Display, serif;
  font-weight: 500;
  opacity: 0;
}

.animate {
  animation: slideUp 0.9s ease-out 0s 1 normal forwards running;
  opacity: 1;
}

.text-gradient {
  background-image: var(--gradient-gold);
  /* background-image: var(--gradient-gold); */
  color: transparent;
  background-clip: text;
}

.projects-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  max-width: min(calc(4 * 21rem + 3 * 1.5rem), 80%);
  grid-gap: 2em;
  max-width: 80%; */
  display: grid;
  max-width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 32rem));
  grid-gap: 2em;
}

@media (max-width: 1900px) {
  .projects-container{
    grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
    max-width: 80%;
  }
}

@media (max-width: 1024px) {
  .page-heading {
    font-size: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2em;
    max-width: 80%;
  }
}

@media (max-width: 600px) {
  .page-heading {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1.5em;
  }
  .projects-container {
    grid-template-columns: repeat(1, minmax(10em, 1fr));
    grid-gap: 2em;
    max-width: 100%;
  }
}
